* {
    margin: 0;
    padding: 0;
}

:root{
    --vtGrey-10: #f9f8f8;
    --vtDarkBlue: #090940;
}


.custom-font {
    font-family: 'rigid-square', sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--vtGrey-10);
    padding: 50px;
    
}

footer ul li {
    list-style: none;
    font-family: 'rigid-square', sans-serif;    
    font-size: 1.2em;
    font-weight: 400;
    color: var(--vtDarkBlue);
    padding: 10px;
    
}

.footer-bold {
    font-weight: 600;
}

.footer-col-logo {
    width: 100%;
}

.footer-col-1 {
    margin-top: 50px;
}

.footer-col-2 {
    margin-top: 50px;
}

.footer-col-3 {
    margin-top: 50px;
}

.footer-social-media {
    padding: 15px;
}

.footer-social-media:nth-of-type(1) {
    padding-left: 0px;
}

@media (min-width: 45em) {
    /* 
footer
*/
    footer {
        width: 100%;
        display: grid;
        grid: "logo ." auto "col-1 col-3" auto "col-2 ." auto / 1fr 1fr;
        gap: 10px;
    }

    .footer-col-logo {
        grid-area: logo;
        width: 100%;
        height: auto;
    }

    .footer-col-1 {
        grid-area: col-1;
    }

    .footer-col-2 {
        grid-area: col-2;
    }

    .footer-col-3 {
        grid-area: col-3;
    }
}

@media (min-width: 68em) {
    /* 
footer
*/
    footer {
        display: grid;

        display: grid;
        grid: "logo col-1 col-2 col-3" auto / 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

    .footer-col-logo {
        grid-area: logo;
        width: 100%;
        height: auto;
    }

    .footer-col-1 {
        grid-area: col-1;
        margin-top: 0px;
    }

    .footer-col-2 {
        grid-area: col-2;
        margin-top: 0px;
    }

    .footer-col-3 {
        grid-area: col-3;
        margin-top: 0px;
    }
}


